@font-face {
    font-family: "Fira Sans";
    src: url("http://fonts.gstatic.com/s/firasans/v5/5jAMGMsBXS6xUYEytGcZdD8E0i7KZn-EPnyo3HZu7kw.woff");
    
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    background-image: url(MainBackground.jpg);
    background-size:contain;
    background-attachment: fixed;
}
.header {
    display: flex;
    background: #f6f6f6;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 999;
    border-bottom: 3px solid #FF8000;
    border-spacing: 0px;
}


.banner{
    display: block;
}

#compImage1 {
    display: block;
}
#compImage2 {
    display: none;
    
}

#compImage3 {
    display: none;
}

#compImage4 {
    display: none;
}

#epikShow {
    display: none;
}

#sundShow {
    display: none;
}

.mobnavigation {
    display: none;
}


.desknavigation {
    list-style: none;
    display:flex;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    padding: 0;
    margin-bottom: auto;
    margin-top: auto;
}

.desknavigation li a{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;

}

.desknavigation a:hover {
   color: rgb(255, 128, 0);
}


.li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}


li .dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {color: rgb(255, 128, 0)}

.dropdown:hover .dropdown-content {
    display: block;
}

.wrapperOut h2 {
    font-size: 100%;
    
    text-decoration: underline;
}
p {
    font-size: 14px;
}

li footer {
    font-size: 14px;
    text-align: right;
}  

li footer a {
    text-decoration: none;
    
}

.wrapperOut {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap
}



.wrapperOut > * {
    flex: 100%;
}

.content {

  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px;

}


.flex-item {
  font-family: 'Roboto Slab', serif;
  background-color:  #f9f9f9;
  color: black;
  font-weight: bold;
  text-align: left;
  width: 600px;
  height: 350px;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 40px;
  box-shadow: 0 4px 6px #000;
  z-index: 2;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.flex-item h2 {
    font-size: 20px;
    color:rgb(255, 128, 0);
    text-align: center;
}


.aside-1 {
    background-color: rgba(255, 128, 0, 0.8);
    margin-top: 40px;
    font-weight: bold;
    text-align:left;
    width: 70px;
    font-size: 100%;
    box-shadow: 0 4px 6px #000;
      
}

.aside-1 .sidecontent {
    padding: 10px;
    position: fixed;
    display: block;
    min-width: 50px;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
}

.aside-1 h2 {
    text-align: left;
    color: rgb(23, 79, 79);
    font-weight: bold;
}

.menuicons{
    list-style-type: none;
}

.pamak {
    list-style-image: url(uom.ico);
}

.mail {
    list-style-image: url(gmail.png);
}

.studweb {
    list-style-image: url(studentsweb.jpg)
}

.opencoursesimg {
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: rgba(249,249,249,0.5);
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    border-radius: 30px;
}

.footer a{
    padding: 1em;
}

.footer p {
    margin-top: auto;
    margin-bottom: auto;
}


@media all and (max-width: 1600px) {

    #compImage1 {
        display: none;
    
    }
    
    #compImage2 {
        display: block;
    }
}

@media all and (max-width: 1500px) {

    #epikHide {
        display: none;
    }
    
    #epikShow {
        display: block;
       
    }
}

@media all and (max-width: 1320px) {

    #compImage3 {
        display: block;
    }
    
    #compImage2 {
        display: none;
    }
}

@media all and (max-width: 1000px) {
    
    #sundHide {
        display: none;
    }
    
    #sundShow {
        display: block;
       
    }
}

@media all and (max-width: 819px) {
    
    #compImage4 {
        max-width: 100%;
        display:flex;
        
    }
    
    #compImage3 {
        display: none;
    }
    
    .desknavigation {
        display: none;
    }
    
    .mobnavigation {
        list-style: none;
        display:flex;
        font-family: "Fira Sans", sans-serif;
        font-size: 16px;
        justify-content: space-around;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
        left: 0;
    }
    
    #menubtn {
        display: inline-block;
        max-width: 100%;
        margin: 0;
        padding: 0;
    
    }
    
    .mobmenu {
        display: inline-block;
    }
    
    .dropdown-content2 {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content2 a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content2 a:hover {color: rgb(255, 128, 0)}

    .mobmenu:hover .dropdown-content2 {
        display: block;
    }
    
    
    #loginbtn {
        display: inline-block;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .header {
        justify-content: center;
        line-height: 0px;
    }
    
    .banner {
        display: none;
    }

        .flex-item{
        width: auto;
        height: auto;
    }
    
    p {
        font-size: 90%;
    } 

    footer a {
        text-decoration: none;
        font-size: 90%;
        
    }
    
    .aside-1 {
        border-radius: 30px;
    }
    
    .aside-1 .sidecontent {
        position: relative;
        display: flex;
        justify-content: space-around;
        padding: 5px;
    }
    
        .footer {
        background-color: rgba(249,249,249,0.8);
    }

}

@media all and (min-width: 820px) {
    
    .content {
        order: 1;
        flex: 8;
    }
    
    .aside {
        order: 2;
        flex: auto;
    }
    
    .footer {
        order: 3;
    }

}


@media all and (max-width: 500px) {

    footer a {
        text-decoration: none;
        font-size: 90%;
        
    }
    
    .aside-1 .sidecontent {
        position: relative;
        display: block;
        text-align: center;
        padding: 5px;
    }
    
    .aside-1 h2 {
        text-align: center;
    }
    
    .asidelist > ul {
        display: inline-block;
        margin: 0;
    }

}